<%- include('../partials/header') %>

<h2>Amethyst</h2>
  <p><img class="pic" src="images/a.jpeg"/></p>
  <p>Other Names: Branded Amethyst </p>
  <p>Stone Specifics: Stone of Purification, Stone of Spiritual Metamorphosis, Stone of 
     Sobriety, Stone of Spirituality
  </p>
  <p>Keywords: Peace, Healing, Intuition, Concentration, Awareness, Soothing, 
     Enlightenment, Serenity, Insight</p>
  <p>Stone Color: Purple / Lavender / Dark Blue</p>
  <p>Stone Origin: Amethyst’s most common ancient application was to prevent drunkenness. 
    The world amethyst comes from the Greek word amethystos, meaning “non-intoxicating.” 
    Wise men in the Greek and Roman era were known to drop a piece of Amethyst into their 
    wine to neutralize the alcohol. In the Egyptian Book of the Dead, there are 
    instructions given for placing heart shaped Amethyst on the body of the deceased; the 
    specific shape said to help transition with peace to the next realm. Within the 
    Christian church, especially the Roman Catholic church, it was known as a gem of purity 
    and associated with Bishops who traditionally wear them set in rings. It is also the 
    stone of Buddha and is quite popular to use for Buddhist prayer beads, more prominently 
    in Tibet. At one time in China, pieces of Amethyst were often rented to those involved 
    in legal lawsuits.
  </p>
  <p>General: Amethyst stones are powerful protective stones. They can encourage inner 
    strength. Amethyst can purify the mind and bring calmness and clarity. It is a 
    wonderful stone when working in times of confusion or chaos. Amethyst can improve 
    motivation and may enhance intuition. It can help alleviate sadness and grief. Amethyst 
    can assist with common sense and flexibility in times of crisis. Amethyst promotes 
    emotional balance, instills confidence, and facilitate the decision-making process. 
    Amethysts can help dispel nightmares and assist with insomnia. Amethysts can strengthen 
    and enhance psychic abilities.
  </p>
  <p>Element: Wind</p>
  <p>Zodiac: Pisces, Virgo, Aquarius, Capricorn</p>
  <p>Chakra: Crown</p>
  <p>Location: Amethysts are found in Bolivia, Botswana, Brazil, China, India, Madagascar, 
     Mexico, Tanzania, Uruguay</p>

<%- include('../partials/footer') %>