<%- include('../partials/header') %>

<h2>Crystals</h2>
  <p>This page will show information on a few Crystals, those crystals are the following:</p>
  <p>Amethyst</p>
  <p>Rose Quartz</p>
  <p>Sunstone</p>
  
<%- include('../partials/footer') %>