<%- include('../partials/header') %>

<h2>Rose Quartz</h2>
  <p><img class="pic" src="images/r.jpeg" /></p>
  <p>Other Names: Pink Quartz and Bohemian Ruby </p>
  <p>Stone Specifics: Stone of Divine Love, Stone of Gentle Self Love, Stone of   
     Unconditional Love
  </p>
  <p>Keywords: Love, Compassion, Self-Esteem, Forgiveness, Self-Esteem</p>
  <p>Stone Color: Pink or Rose sometimes Transparent</p>
  <p>Stone Origin: According to archaeological records Rose Quartz was used as early as the 
     800-600 B.C. by the Assyrians. Later it became popular with the Greeks and 
     Romans.Greece and Rome were the first to attach the symbol of love to the Rose Quartz 
     meaning. According to myth, Cupid, the Roman god of desire, and Eros, the Greek god of 
     love, gave humans the gift of love in the form of Rose Quartz. Another legend is when 
     Adonis was attacked by Ares, who was in the shape of a boar, his lover Aphrodite came 
     running to his aide. Along the way, she got caught on a briar bush and by the time she 
     found her lover, a mix of their blood started to soak into the quartz stone, giving 
     Rose Quartz its iconic pink hue. In Native American cultures, the Rose Quartz meaning 
     was used to soothe negative emotions. Native American tribes occasionally carved 
     amulets out of Rose Quartz, which they referred to as the “love stone.”
  </p>
  <p>General: Rose Quartz represents all kinds of love not just romantic love, but it can 
     also represent love of friends and family. Rose Quartz is a stone for forgiveness and 
     compassion. Rose Quartz is said to restore trust, it can soothe emotions, and help 
     heal from emotional wounds.
  </p>
  <p>Element: Water</p>
  <p>Zodiac: Scorpio</p>
  <p>Chakra: Heart</p>
  <p>Location: Rose Quartz is found in Madagascar, India, Germany, and the USA</p>

<%- include('../partials/footer') %>
