<%- include('../partials/header') %>

<h2>Sunstone</h2>
  <p><img class="pic" src="images/s.jpeg" /></p>
  <p>Other Names: Heliolite, Aventurine Feldspar</p>
  <p>Stone Specifics: Stone of Inspiration and Joy, Stone of Abundance and Manifestation, 
     Stone of Leadership, Service Stone
  </p>
  <p>Keywords: Happiness, Joy, Warmth, Leadership, Inspiration , Benevolence, Service, 
     Light</p>
  <p>Stone Color: Sunstones are typically peach colored but can also be yellow, red, green, 
     blue, colorless or copper. Then name sunstone is as a result of the stones warm shades 
     of golds, browns and reds that cause it to sparkle like the sun.</p>
  <p>Stone Origin: Sunstones were found in a number of ancient cultures. In ancient India, 
     Sunstone was revered and thought to protect from the destructive forces and hostile 
     spirits. Sunstone was associated by the ancient Egyptians with the "sun" god Ra. In 
     ancient Greece Sunstone was prized for its beauty in fashioning jewelry and also in 
     the manufacture of goblets and plates. It was believed to counteract poison and 
    provide strength and stamina for those who ate or drank from sunstone pieces. In 
    oriental cultures Sunstone was often referred to a “phenomenal gem”. Phenomenal gems 
    were thought to bring good fortune to the wearer. According to ancient Norse texts, 
    Sunstones were used by vikings on the sea for navigational purposes. Sunstones were 
    used by Canadian Indians in medicine wheel ceremonies to enhance healing. There is a 
    Native American legend that says sunstones came from the blood of a powerful warrior 
    wounded by an arrow. The blood from the warrior gave the Sunstone its red coloration 
    and the warriors spirit was infused into the stone.
  </p>
  <p>General: Sunstone carries light and positive energy from the sun that encourages 
     independence and originality. Sunstones bring warmth, comfort and compassion. Sunstone 
     can help restore a "zest for life" and enthusiasm for everyday activities. Sunstones 
     can help alleviate worry, fear, doubt, and depression. Sunstone raises consciousness, 
     attracts prosperity, encourages inner-strength, and promotes mental clarity. Truly 
     reflecting the qualities of light, Sunstone helps brings benevolence, warmth, and the 
     willingness to bestow blessings upon others. Sunstone encourages optimism, confidence, 
     it is a stone of great hope and inspires one to be true to themselves. Sunstone has a 
     bright, joyful energy that increases vitality and lightens dark moods, it encourages 
    independence and bravery during difficult times.
  </p>
  <p>Element: Fire, Air</p>
  <p>Zodiac: Leo, Libra</p>
  <p>Chakra: Root, Sacral, Solar Plexus</p>
  <p>Location: Sunstone can be found in Australia, Canada, India, Madagascar, Norway, Russia (Siberia), and the United States.</p>

<%- include('../partials/footer') %>